{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block body %}

<div class="row d-block">
  {% for product_list in products.items %}
  <a href="{{ url_for('home.product_details', id=product_list.id) }}">
  <div class="col l4 s12 m6">
    <div class="card-panel hoverable" style="max-height:360px; background-color:#FFFFFF;">
      <div class="card-image" style="margin-left:auto;margin-right: auto;">
        <div class="thumbnail" style="height:220px;margin-bottom: 0px;">
          <img class="responsive-img" src="{{ product_list.product_image }}" style="height:100%;">
        </div>
        <h6 class="title">
          <span class="product-name">{{ product_list.product_name }}</span>
        </h6>
        <div class="price-container clearfix">
          <span class="price-box" style="margin-bottom:0px;white-space:normal;">
          <span class="price">
            <span>$</span>
            <span>{{ product_list.product_price }}</span>
          </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>

{% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
    {% if products.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('home.canasta', title=title, page=page_num)}}">{{page_num}}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('home.canasta', title=title, page=page_num)}}">{{page_num}}</a>
    {%endif%}
{%endif%}
{% endfor %}
</div>
{% endblock %}
