{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title%}
{% block body %}

<div class="container">
  <div class="row">

    <div class="col d-flex justify-content-center align-items-center">
      <img  class="responsive-img" src="{{ inversionista.inversionista_image }}">
    </div>

    <div class="col">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
          <h4>{{ inversionista.inversionista_name }}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col m-1">
          <h5 class="m-1">Descripci&oacute;n</h5>
          <p class="m-1">{{ inversionista.inversionista_desc }}</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col m-1">
          <h5 class="m-1">Email</h5>
          <p class="m-1">{{ inversionista.inversionista_email }}</p>
        </div
      </div>

    </div>
  </div>
</div>

{% endblock %}
