{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title%}
{% block body %}

<div class="container">
  <div class="row">

    <div class="col d-flex justify-content-center align-items-center">
      <img  class="responsive-img" src="{{ organizacion.organizacion_image}}">
    </div>

    <div class="col">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
          <h4>{{ organizacion.organizacion_name }}</h4>
        </div>
      </div>

      <div class="row">
        <div class="col m-1">
          <h5 class="m-1">Ubicaci&oacute;n</h5>
          <p class="m-1">{{ organizacion.organizacion_location }}</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col m-1">
          <h5 class="m-1">Tel&eacute;fono</h5>
          <p class="m-1">{{ organizacion.organizacion_phone }}</p>
        </div
      </div>

    </div>
  </div>
</div>

{% include "promotions/promotions.html" %}
{% block promos %}
{% endblock %}

{% endblock %}
