{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block body %}

<div class="row d-block">
  {% for organizacion_list in organizaciones.items %}
    <a href="{{ url_for('home.organizacion_details', id=organizacion_list.id) }}">
          <div class="col l4 s12 m6">
        <div class="card-panel hoverable" style="max-height:360px; background-color:#FFFFFF;">    
          <div class="card-image" style="margin-left:auto;margin-right: auto;">
            <div class="thumbnail" style="height:220px;margin-bottom: 0px;">
                <img class="responsive-img" src="{{ organizacion_list.organizacion_image }}" style="height:100%;">
            </div>
            <h6 class="title">
                <span class="product-name">
                    {{ organizacion_list.organizacion_name }}            
                </span>
            </h6>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% for page_num in organizaciones.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
    {% if page_num.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('home.organizaciones', title=title, page=page_num)}}">{{page_num}}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('home.organizaciones', title=title, page=page_num)}}">{{page_num}}</a>
    {%endif%}
{%endif%}
{% endfor %}
</div>
{% endblock %}
