{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title%}
{% block body %}
{% if product_detail %}

<div class="container mt-1 mb-3"
  <div class="card" style="width: 50%;">
    <img src="{{ product_detail.product_image }}" class="card-img-top" alt="{{ product_detail.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product_detail.product_name }}</h5>

       <div class="row m-1 justify-content-center align-items-center">
          <div class="col m">
            <h6 class="card-subtitle mt-0">Organizaci&oacute;n</h6>
          </div>
          <div class="col">
            <a type="button" class="btn btn-outline-info" href="{{ url_for('home.organizacion_details', id=organizacion.id) }} ">
              <p class="card-text mt-0">{{ organizacion.organizacion_name }}</p>
            </a>
          </div>
      </div>

      <div class="row m-1 justify-content-center align-items-center">
          <div class="col">
            <h6 class="card-subtitle mt-0">Stock</h6>
          </div>
          <div class="col">
            <p class="card-text mt-0">{{ product_detail.product_stock }}</p>
          </div>
      </div>

       <div class="row m-1 justify-content-center align-items-center">
          <div class="col">
            <h6 class="card-subtitle mt-0">Precio</h6>
          </div>
          <div class="col">
            <p class="card-text mt-0">{{ product_detail.product_price }}</p>
          </div>
      </div>

       <div class="row m-1 justify-content-center align-items-center">
          <div class="col">
            <h6 class="card-subtitle mt-0">Promoci&oacute;n</h6>
          </div>
          <div class="col">
            <p class="card-text mt-0">{{ product_detail.promotion_value }} %</p>
          </div>
      </div>

       <div class="row m-1 justify-content-center align-items-center">
          <div class="col-sm">
            <h6 class="card-subtitle mt-0">Descripci&oacute;n</h6>
          </div>
          <div class="col-sm">
            <p class="card-text mt-0">{{ product_detail.product_description }}</p>
          </div>
      </div>

      <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}
       <div class="row justify-content-center align-items-center m-0">
        <div class="col-sm">
        <div class="m-1 form-group">
          <h6>Cantidad</h6>
        </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            {{ form.amount(class="form-control m-1")}}
          </div>
        </div>
       </div>

       <div class="row">
          <div class="col-sm d-flex justify-content-center align-items-center m-0">
              <div class="form-group"> 
                {{ form.submit(class="btn btn-outline-success") }}
              </div>
          </div>
        </div>
      </form>
  </div>
</div>

{% endif %}
{% endblock %}
