{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title%}
{% block body %}
{% if product_detail %}

<div class="container-fluid clearfix" style="max-width:90%; margin-left: auto; margin-right: auto;">
    <div class="float-left" style=" width:50%;">
      <img  class="responsive-img" src="{{ product_detail.product_image }}">
    </div>

    <div class="float-right" style="width:48%;">
      <div>
        <span class="product-name">
          {{ product_detail.product_name }}
        </span>
        <h5 style="font-size:19px">
          Stock: <span style="color:forestgreen;">{{ product_detail.product_stock }}</span>
        </h5>
        <article>
          <h5 style="font-size: 19px;">
            Description
          </h5>

          <p style="font-size:15px;">
            <div class="product-description">
              {{ product_detail.product_description }}
            </div>
          </p>
        </article>
        <section>
            <form class="form-inline" method="POST">
              {{ form.hidden_tag() }}
              <h5 style="font-size: 19px;">Cantidad</h5>
                <div class="m-1">
                  {{ form.amount }}
                </div>
            </form>
        </section>
        <div>
          {{ form.submit(class="btn btn-primary")}}   
          <!-- change button and render form from forms.py -->
        </div>
      </div>
    </div>
</div>

{% endif %}
{% endblock %}
