{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title%}
{% block body %}
{% if product_detail %}

<div class="container mt-1 mb-3"
  <div class="card" style="width: 25rem;">
    <img src="{{ product_detail.product_image }}" class="card-img-top" alt="{{ product_detail.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product_detail.product_name }}</h5>

       <div class="row justify-content-center align-items-center">
          <div class="col-sm">
            <h6 class="card-subtitle mt-0">Organizacion</h6>
          </div>
          <div class="col-sm">
            <a href="{{ url_for('home.organizacion_details', id=organizacion.id) }} ">
              <p class="card-text mt-0">{{ organizacion.organizacion_name }}</p>
            </a>
          </div>
      </div>

      <div class="row justify-content-center align-items-center">
          <div class="col-sm">
            <h6 class="card-subtitle mt-0">Stock</h6>
          </div>
          <div class="col-sm">
            <p class="card-text mt-0">{{ product_detail.product_stock }}</p>
          </div>
      </div>

       <div class="row justify-content-center align-items-center">
          <div class="col-sm">
            <h6 class="card-subtitle mt-0">Price</h6>
          </div>
          <div class="col-sm">
            <p class="card-text mt-0">{{ product_detail.product_price }}</p>
          </div>
      </div>

       <div class="row justify-content-center align-items-center">
          <div class="col-sm">
            <h6 class="card-subtitle mt-0">Promotion</h6>
          </div>
          <div class="col-sm">
            <p class="card-text mt-0">{{ product_detail.promotion_value }} %</p>
          </div>
      </div>

       <div class="row justify-content-center align-items-center">
          <div class="col-sm">
            <h6 class="card-subtitle mt-0">Description</h6>
          </div>
          <div class="col-sm">
            <p class="card-text mt-0">{{ product_detail.product_description }}</p>
          </div>
      </div>

     <form class="form-inline" method="POST">
      {{ form.hidden_tag() }}
        <div class="row">
          <div class="form-group">
            <div class="col-sm">
              {{ form.amount.label(class="form-control-label") }}
            </div>
            <div class="col-sm">
              {{ form.amount(class="form-control form-control") }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
              <div class="form-group"> 
                {{ form.submit(class="btn btn-outline-success") }}
              </div>
          </div>
        </div>
      </form>
  </div>
</div>

{% endif %}
{% endblock %}
