{% extends "base.html" %}
{% block title %}
    {% if add_organizacion%}
        Add Organizacion
    {% else %}
        Edit Organizacion
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_organizacion %}
                <h1>Add Organizacion</h1>
            {% else %}
                <h1>Edit Organizacion</h1>
            {% endif %}
            <br/>
            <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class="form-control form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.image.label(class="form-control-label") }}
                        {{ form.image(class="form-control-file") }}
                    </div>
 
                    <div class="form-group">
                        {{ form.location.label(class="form-control-label") }}
                        {{ form.location(class="form-control-file") }}
                    </div>
  
                    <div class="form-group">
                        {{ form.phone.label(class="form-control-label") }}
                        {{ form.phone(class="form-control-file") }}
                    </div>
              
                <div class="form-group"> 
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
