{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block head %}

<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

{% endblock head %}

{% block body %}

<div class="container">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br />
        <br />
        <h1 style="text-align:center;">{{ title }}</h1>
        {% if eventos %}
        <hr class="intro-divider">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th> Id </th>
              <th> Name </th>
              <th> Latitud </th>
              <th> Longitud </th>
              <th> Edit </th>
              <th> Delete </th>
            </tr>
          </thead>
          <tbody>
            {% for evento in eventos %}
            <tr>
              <td> {{ evento.id }} </td>
              <td> {{ evento.evento_name }} </td>
              <td> {{ evento.evento_lat }} </td>
              <td> {{ evento.evento_long }} </td>

              <td>
                <a href="{{ url_for('admin.edit_evento', id=evento.id) }}">
                  <i class="fa fa-pencil"></i> Edit
                </a>
              </td>
              <td>
                <a href="{{ url_for('admin.delete_evento', id=evento.id) }}">
                  <i class="fa fa-trash"></i> Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div style="text-align: center">
          {% else %}
          <div style="text-align: center">
            <h3> No evento have been added. </h3>
            <hr class="intro-divider">
            {% endif %}
            <a href="{{ url_for('admin.add_evento') }}" class="btn btn-outline-success">
              <i class="fa fa-plus"></i>
              Add Evento
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
