{% extends "base.html" %}
{%block title%}Cart{%endblock title%}
{% block body%}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/cart.css')}}" rel="stylesheet">
<div class="container">

	<div class="container">
		<div class="row">

				<div class="col">
				</div>
			
				<div class="col">
					<strong>Product</strong>
				</div>
				<div class="col">
						<strong>Price</strong>
				</div>
				<div class="col">
						<strong>Promotion</strong>
				</div>

				<div class="col">
						<strong>Quantity</strong>
				</div>

				<div class="col">
						<strong>Subtotal</strong>
				</div>

				<div class="col">
						<strong>Remove</strong>
				</div>

		</div>
		
		{% for items in cartlist %}

		<div class="row">

			<div class="col">
				<img src="{{ items.product.product_image }}" class="item-img img-responsive"/>
			</div>	

			<div class="col">
        <h6 class="nomargin">
            <p>{{ items.product.product_name }}</p>
        </h6>
			</div>

			<div class="col">
        <span class="iso">$</span>
        <span class="iso">{{ items.product.product_price }}</span>
			</div>

			<div class="col">
        <span class="iso">{{ items.product.promotion_value}}</span>
        <span class="iso">%</span>
			</div>

			<div class="col">
						<p>
              <input type="text" name="quantity" class="qty form-control-sm" id="qty{{items.id}}" value="{{items.quantity}}" readonly>
              <span class="times">x</span>
              <span class="iso">$</span>
              <span class="item-price{{items.id}}">{{ items.product.product_price }}</span>
						</p>
			</div>

			<div class="col">
        <p> 
            <span class="iso">$</span>
            <span class="item-total">{{ items.subtotal }}</span>
        </p>
			</div>

			<div class="col">
					<a href="{{ url_for('users.remove_item', id=items.id) }}" class=" btn btn-outline-danger btn-sm">x</a>
			</div>
		</div>
    <!-- end row -->
		<div class="line"></div>
		{% endfor %}

    <div class="container d-flex justify-content-center align-items-center">
      <span class="m-2"><strong>Subtotal</strong>: {{items_subtotals}}</span>
      <span class="m-2"><strong>Shipping</strong>: {{ price }}</span>
      <span class="m-2"><strong>Total</strong>: {{items_subtotals + price}}</span>
		</div>

    <div class="container">
      <a href="{{ url_for('home.homepage') }}" class="btn btn-outline-dark continue-shopping"><i class="fa fa-angle-left"></i>Continue Shopping</a>
      <a href="#" class="btn btn-success checkout-btn float-right" data-toggle="modal" data-target="#exampleModalCenter">Checkout</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirmaci&oacute;n de Compra</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {% if user %}
            <div class="container">
             <fieldset>
                <legend>User Details</legend>  
                <ul class="list-group">
                  <li class="list-group-item">{{user.firstname}}</li>
                  <li class="list-group-item">{{user.lastname}}</li>
                  <li class="list-group-item">{{user.email}}</li>
                  <li class="list-group-item">{{user.phonenumber}}</li>
                </ul>
              </fieldset>
            </div>
            {% endif %}

            {% if shipping %}
            <div class="container">
             <fieldset>
                <legend>Shipping Details</legend>  
                <ul class="list-group">
                  <li class="list-group-item">{{shipping.address}}</li>
                  <li class="list-group-item">{{shipping.aditional_indications}}</li>
                  <li class="list-group-item">{{shipping.postcode }}</li>
                  <li class="list-group-item">{{shipping.city}}, {{shipping.state}}</li>
                  <li class="list-group-item">{{shipping.country}} </li>
                </ul>
              </fieldset>
            </div>
            {% endif %}
          
            {% if items_subtotals > 0 %}
            <div class="container d-flex justify-content-center align-items-center">
              <span class="m-2"><strong>Subtotal</strong>: {{items_subtotals}}</span>
              <span class="m-2"><strong>Shipping</strong>: {{ price }}</span>
              <span class="m-2"><strong>Total</strong>: {{items_subtotals + price}}</span>
            </div>
            {% endif %}
          </div>

          {% if user %}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="{{ url_for('users.order', user=user.id, shipping=shipping.id) }}" class="btn btn-outline-primary">Finalizar Compra</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

{% endblock %}
