{% block organizacion %}

<!-- TODO: Arreglar overflow-auto en pantallas pequenas -->
<div class="container mt-1 mb-3 overflow-auto">

  <nav class="navbar navbar-expand navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-around">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home.canasta') }}">Canasta Agricola</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home.organizaciones') }}">Organizaciones</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home.inversionistas')}}">Inversionistas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home.eventos') }}">Eventos</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

{% endblock %}
