{% extends "base.html" %}
{% block title %}All Orders {% endblock %}

{% block body %}


<table class="table table-borderless">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th> Order Number </th>
              <th> User </th>
              <th> Date </th>
              <th> Product </th>
              <th> Total </th>
              <th> Address </th>
            </tr>
          </thead>
          <tbody>

          {% for order in orders %}
            <tr>
              <td> {{ order.id }} </td>
              <td> {{ order.user.email }} </td>
              <td> {{ order.timestamp.strftime('%d-%m-%Y, %H:%M:%S') }} </td>
              <td> {{ order.purchase.product.product_name }} </td>
              <td>  {{ order.purchase.subtotal }} </td>
              <td>{{ order.shipping.address }}</td>
            </tr>
          {%endfor%}
          </tbody>
        </table>

{% endblock body %}
