{% block carousel %}
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      {% for index in range(size) %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{index+1}}"></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active" style="max-width:100%;">
        <img src="static/img/Oferta.png" class="d-block carousel-img-height" alt="Oferta">
      </div>
                                          
      {% for product in products %}
      <div class="carousel-item" style="max-width:100%;">
        <a href="{{ url_for('home.product_details', id=product.id) }}">
        <img src="{{ product.product_image }}" class="d-block carousel-img-height" alt="{{ product.product_name }}">
        <div class="carousel-caption d-flex align-items-center justify-content-center">
          <p class="text-dark bg-white p-1 rounded">
            <b>{{ product.product_name }} con el <span style="color:red">{{product.promotion_value}}%</span> de descuento</b>
          </p>
        </div>
        </a>
      </div>
      {%endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>  

{% endblock %}
