<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>
        {%block title%}
        {%endblock title%}
      </title>
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"rel="stylesheet">
      <link href="{{ url_for('static', filename='css/st.css') }}"rel="stylesheet">

      <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

      {%block head%}
      {%endblock head%}
  </head>

  <body>

  {% include "navbar.html" %}
  {% block navbar %}
  {% endblock %}

  {% include "categories/categories.html" %}
  {% block organizacion%}
  {% endblock %}
 
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="container">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/countrypicker.js') }}"></script>
    {% block body %}
    {% endblock %}
  </div>

  <hr class="footer-break"></hr>

{% include "footer.html" %}
{% block footer %}
{% endblock %}
 
</body>
</html>
