{% block footer %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="list-inline">
          <li class="item">
            <h6 class="footer-title" style="text-align:start;">About</h6>
          </li>
          <li class="item font-weight-bold">#CaucaAgroSostenible</li>
          <li class="item">
            <p>Es una iniciativa
              académica que pretender visibilizar a las familias, emprendimientos, asociaciones y demás, que se dediquen
              a los cultivos productivos y a la transformación de los mismos.
            </p>
          </li>
        </ul>

      </div>

      <div class="col">
        <ul class="d-inline-block mt-4">
          <li class="d-inline-block mr-4 mb-2">
            <a href="#">
              <img src="{{url_for('static',filename='iconmonstr-facebook.svg')}}" class="img-responsive svg-footer">
            </a>
          </li>
          <li class="d-inline-block mr-4 mb-2">
            <a href="#">
              <img src="{{url_for('static',filename='iconmonstr-instagram.svg')}}" class="img-responsive svg-footer">
            </a>
          </li>
          <li class="d-inline-block mr-4 mb-2">
            <a href="#">
              <img src="{{url_for('static',filename='iconmonstr-twitter.svg')}}" class="img-responsive svg-footer">
            </a>
          </li>
        </ul>
      </div>

      <div class="col">
        <ul class="list-inline">
          <li class="item">
            <h6 class="footer-title">More Information</h6>
          </li>
          <li class="item font-weight-bold">Authors</li>
          <li class="item">Lorem ipsum dolor sit amet.</li>
          <li class="item">Lorem ipsum dolor sit amet.</li>
          {% if current_user.is_authenticated %}
          <li class="item"><a class="nav-link footer-links" href="{{url_for('users.profile')}}">profile</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
