{% extends "base.html" %}
{% block title %}Cauca Agro SOS{% endblock title%}
{% block body %}
  <!-- banner -->
<div class="banner">
  <div class="xf">
    <div class="bd-example" >
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
    <div class="carousel-item active" style="min-height:480px;">
      <img src="{{url_for('static', filename='Oferta.png')}}" class="d-block carousel-img-height" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <p>
        <a href="{{url_for('home.homepage')}}"> 
        Ofertas Especiales</a> 
      </p>
    </div>
  </div>
                                            
{% for i in products %}    
{% if i.id in sorter %}
  <div class="carousel-item" style="min-height:480px;">
    <a href="{{url_for('home.product_details',product_name = i.product_name)}}">
    <img src="{{i.product_image}}" class="d-block  carousel-img-height" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>Featured Products</h5>
      <p>{{i.product_name}}</p>
    </div>
    </a>
  </div>
{%endif%}
{%endfor %}
                                            
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>  
</div>  

{% endblock %}
